h1{
    
    padding-top: 150px;
    color: rgb(196, 194, 207);
    font-size: 70px;
}

#about h1 p{
    background-color: #0a192f;
   
    color: white;
}

p{
    color: rgb(145, 144, 150);
    font-family:Helvetica ;
}

h4{
    color: white;
}
.card{
    background-color: #0a192f;
    max-width: 250px;
}

img{
    max-width: 250px;
}

#row{
    margin-top: 150px;
}

@media screen and (min-width: 700px) {
    #row {
        padding-left: 40px;
    }
   
  }

 