

.footer{
    margin: 100px 0 30px 0;
   
}



input{
    border: 0;
    background-color: #0a192f;
    color: white;
    font-family: Helvetica;
}

input:hover{
    color: #b5f1d0;
    border-color: white;
    font-size: 17px;

}

.contact a {
    display: inline;
    color: white;
    padding: 16px;
    text-decoration: none;
    
  }
  
  
  .contact a :hover {
    font-size: 22px;
    color: rgb(79, 231, 130);
  }
  
  form{
    padding-top: 20px;
  }

  .contact a {
    font-size: 20px;
  }
  
  .footer p{
    font-size: 12px;
    padding-top: 20px;
  }

  @media screen and (min-width: 700px) {
    .footer a{
      
      display: none;
    }
   
  }

 